.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headerTitle {
  background-color: #0d6efd;
  padding: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.app .title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 5px;
  font-size: 36px;
}

.loginDiv, .registerDiv {
  width: 400px;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 5px;
}

.btnLogin {
  margin: auto;
  display: block;
  width: 75%;
}

.redirect-link {
  text-align: center;
  cursor: pointer;
}

.redirect-link:hover {
  color: #0d6efd;
}